div.columns(v-cloak="")
  div.column.is-12
    messages(v-bind:messages="messages")

    div.card

      header.card-header
        p.card-header-title File Downloader

      div.card-content
        h2.subtitle Download labeled data

        div.control(style="margin-bottom: 1em;")
          block select-format-area

        block example-format-area

        div.field.is-grouped(style="margin-top: 1em;")

          form
            p(style="margin-bottom: 1em;")
              | file:
              input.input(type='text', name='file', v-model="file_name")

            button.button.is-primary(
              style="margin-top: 1em;"
              v-on:click="downloadToGCP()"
              v-bind:class="{'is-loading': isLoading}"
            ) Download To GCP
