div
  div.column.is-12
    messages(v-bind:messages="messages")

    div.card
      header.card-header
        p.card-header-title File Uploader

      div.card-content
        h2.subtitle Upload a file to annotate text.

        div.control(style="margin-bottom: 1em;")
          block select-format-area

        block example-format-area

        div.field.is-grouped(style="margin-top: 1em;")

          form
            p(style="margin-bottom: 1em;")
              | file:
              select(name='files_list', id='')
                option(v-for="item in currentFiles") {{item}}
              //input.input(type='text', name='file', v-model="file_name")

            div.control
              button.button(
                v-on:click="uploadFromGCP()"
                v-bind:class="{'is-loading': isLoading}"
              )
                span.file-icon
                  i.fa.fa-cloud-upload-alt
                span Upload from GCP …
